@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
body {
    font-family: Open sans, sans sans-serif;
}
* {
    resize: none;
    list-style: none;
    text-decoration: none;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
}
header .line {
    background-color: #117050;
    height: 10px;
}
.container {
    width: 1140px;
    margin: auto;
}
.bar {
    width: 168px;
    height: 22px;
    background-color: #006341;
    margin-bottom: 25px;
}
h2 {
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
    text-transform: capitalize;
    margin-bottom: 20px;
}
h1 {
    font-size: 96px;
    line-height: 105.6px;
    font-family: 'oswald', sans-serif;
    font-weight: 600;
    
}
p {
    line-height: 25.6px;
    margin-bottom: 40px;
}
.button {
    display: inline-block;
    border: 2px solid #454545;
    padding: 12px 35px;
    border-radius: 4px;
    color: #454545;
    letter-spacing: 1px;
}
.button:hover {
    background-color: #454545;
    color: #EEEED3 ;
}
.header--area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #fff;
}
.header--left img {
    height: 64px;
    width: 64px;
}
.header--right {
    display: flex;
    align-items: center;
}
.header--search form {
    display: flex;
}
.header--search input {
    box-sizing: content-box;
    font-size: 16px;
    padding: 7px 20px;
    border: 1px solid #B3B3B3;
    width: 100%;
    max-width: 500px;
}
.header--search button {
    background-color: transparent;
    margin-left: -30px;
    cursor: pointer;
}
.header--search button img {
    width: 16px;
}
.header--menu {
    margin-left: 60px;
}
.header--menu i {
    cursor: pointer;
}
#banner {
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
    padding: 75px 0;
}
.container.area--banner {
   padding: 20px;
}
.area--banner span {
    display: inline-block;
    margin-top: 40px;
}
.banner--images {
    margin-top: 60px;
}
.banner--images img {
    width: 155px;
    height: 155px;
    border: 6px solid #117050;
    border-radius: 50%;
    margin: 0 20px;
}
.banner--images img:first-child {
    margin-left: 0;
}
#area-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.area-1--content {
    padding: 50px 100px;
}

.area-1--quote {
    margin-bottom: 35px;
    font-style: italic;
}
.area-1--img1 {
    background-image: url('../images/f2.jpg');
    background-position: center;
    background-size: cover;
    height: 380px;
}
.area-1--img2 {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    background-image: url('../images/f1.jpg');
    background-position: center;
    background-size: cover;
}
#area-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.area-2--content {
    padding: 50px 100px;
}
.area-2--text {
    line-height: 25.6px;
    margin-bottom: 40px;
}
.area-2--img1 {
    background-image: url('../images/f4.jpg');
    background-position: center;
    background-size: cover;
    height: 420px;
}
.area-2--img2 {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-image: url('../images/f3.jpg');
    background-position: center;
    background-size: cover;
}
#area-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.area-3--content {
    padding: 200px 100px;
}
.area-3--text {
    line-height: 25.6px;
    margin-bottom: 40px;
}
.area-3--img {
    background-image: url('../images/f5.jpg');
    background-position: center;
    background-size: cover;
    
}
.area-3--content {
    background-image: url('../images/bg2.jpg');
    background-position: left;
    background-size: cover;
}
#area-4 {
    display: grid;
    grid-template-columns: 500px 1fr;
    background-color: #E8E9EE;
}
.area-4--content {
    padding: 150px 100px;
}
.area-4--img1 {
    background-image: url('../images/bg3.jpg');
    background-position: left;
    background-size: cover;
}
#area-5 {
    background-image: url('../images/bg4.jpg');
    background-position: center;
    background-size: cover;
    height: 600px;
}
footer {
    background-color: #333333;
    padding: 30px 0;
}
footer div {
    text-align: center;
    margin: 50px 0;
    color: #fff;
}
