@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
body {
    font-family: Open sans, sans sans-serif;
}
* {
    resize: none;
    list-style: none;
    text-decoration: none;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
}
header .line {
    background-color: #117050;
    height: 10px;
}
.container {
    width: 1140px;
    margin: auto;
}
.header--area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #fff;
}
.header--left img {
    height: 64px;
    width: 64px;
}
.header--right {
    display: flex;
    align-items: center;
}
.header--search form {
    display: flex;
}
.header--search input {
    box-sizing: content-box;
    font-size: 16px;
    padding: 7px 20px;
    border: 1px solid #B3B3B3;
    width: 100%;
    max-width: 500px;
}
.header--search button {
    background-color: transparent;
    margin-left: -30px;
    cursor: pointer;
}
.header--search button img {
    width: 16px;
}
.header--menu {
    margin-left: 60px;
}
.header--menu i {
    cursor: pointer;
}
#banner {
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
    padding: 75px 0;
}
.container.area--banner {
   padding: 20px;
}
#banner h1 {
    font-size: 96px;
    line-height: 105.6px;
    font-family: 'oswald', sans-serif;
    font-weight: 600;
    margin-bottom: 40px;
}
.banner--images {
    margin-top: 60px;
}
.banner--images img {
    width: 155px;
    height: 155px;
    border: 6px solid #117050;
    border-radius: 50%;
    margin: 0 20px;
}
.banner--images img:first-child {
    margin-left: 0;
}